:root, [data-bs-theme=light] {
  --bs-primary: #42829e;
  --bs-primary-rgb: 66,130,158;
  --bs-primary-text-emphasis: #1A343F;
  --bs-primary-bg-subtle: #D9E6EC;
  --bs-primary-border-subtle: #B3CDD8;
  --bs-secondary: #033c48;
  --bs-secondary-rgb: 3,60,72;
  --bs-secondary-text-emphasis: #01181D;
  --bs-secondary-bg-subtle: #CDD8DA;
  --bs-secondary-border-subtle: #9AB1B6;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #42829e;
  --bs-btn-border-color: #42829e;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #5E95AD;
  --bs-btn-hover-border-color: #558FA8;
  --bs-btn-focus-shadow-rgb: 10,20,24;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #689BB1;
  --bs-btn-active-border-color: #558FA8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #42829e;
  --bs-btn-disabled-border-color: #42829e;
}

.btn-outline-primary {
  --bs-btn-color: #42829e;
  --bs-btn-border-color: #42829e;
  --bs-btn-focus-shadow-rgb: 66,130,158;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #42829e;
  --bs-btn-hover-border-color: #42829e;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #42829e;
  --bs-btn-active-border-color: #42829e;
  --bs-btn-disabled-color: #42829e;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #42829e;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #033c48;
  --bs-btn-border-color: #033c48;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #03333D;
  --bs-btn-hover-border-color: #02303A;
  --bs-btn-focus-shadow-rgb: 217,226,228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #02303A;
  --bs-btn-active-border-color: #022D36;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #033c48;
  --bs-btn-disabled-border-color: #033c48;
}

.btn-outline-secondary {
  --bs-btn-color: #033c48;
  --bs-btn-border-color: #033c48;
  --bs-btn-focus-shadow-rgb: 3,60,72;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #033c48;
  --bs-btn-hover-border-color: #033c48;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #033c48;
  --bs-btn-active-border-color: #033c48;
  --bs-btn-disabled-color: #033c48;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #033c48;
}

